*.o
*.depend
*.depend
Chess Project/Chess Project.depend
*.depend
*.depend
Chess Project/Chess Project.depend
*.depend
*.layout
*.layout
Chess Project/Chess Project.layout
*.depend
Chess Project/Chess Project.layout